<h1>Modification d'une offre</h1>

<%= render 'form', offer: @offer %>

<p>
  <%= button_to 'Annuler', @offer, method: :get %>
  <%= button_to 'Liste des offres', offers_path, method: :get %>
  <%= button_to 'Page d\'accueil', root_path, method: :get%>
</p>
